APP_ENV=local
APP_DEBUG=true
APP_KEY=zvcfcJV5Vo08oScsW2bU8kCbFZN9vKcu

DB_HOST=localhost
DB_DATABASE=contabilidad-zonavirtual
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp-mail.outlook.com
MAIL_PORT=25
MAIL_USERNAME=zonavirtual_1@hotmail.es
MAIL_PASSWORD=null
