body{
	font-size: 19px;
	background-color: #fff;
}

th{
	background-color: #50B1FC;
	color: #fff;
	border: 2px solid #fff;
}


.dropdown-menu>li>a, 
.form-control{
font-size: 19px; 
}

.ui-autocomplete { 
	z-index:2147483647; 
}